<div class="show-body">
<div class="more-info">
    <h1 >Choose your dates for <strong><%= @teacher.name%></h1></strong>
    </div>
      <div class="show">
  <%= simple_form_for [@teacher, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <p class="btn btn-blue"><%= f.submit %></p>
        <% end %>
      </div>
