<h1 >Your booking with <%= @booking.teacher.name%></h1>

<div class="container-fluid">
  <div class="row justify-content-md-center">
      <div class="col col-6 card p-3">
        <p><strong>Booked from <%= @booking.start_date %> until <%= @booking.end_date %></strong></p>
        <p><%= @booking.teacher.address %></p>
        <p><%= @booking.teacher.price%> EUR</p>
        <p><%= '⭐️' * @booking.teacher.rating %></p>
        <p class="text-start"><%= link_to "Cancel", booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }%></p>
         <p class="text-end"><%= link_to "<Back to your bookings", bookings_path%></p>
        <p class="text-end"><%= link_to "Find another teacher", teachers_path%></p>
    </div>
  </div>
</div>
