<% content_for( :navbar_class, "navbar-home") %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);">
  <div class="banner-content">
    <h1>Discover a new way to learn skills from the best
    teachers available!</h1>
    <p>Rent a Teacher from the comfort of your home.</p>
     <br>

    <%= form_tag(teachers_path, method: :get) do %>
      <%= search_field_tag 'address', nil, class: "form-home", placeholder: "Type your address.."%>
      <%= submit_tag "Search", class: "btn-home"%>
      <% end %>
  </div>
</div>

<div class="teachers-title">
  <h3>Our top rated teachers</h3>
</div>

<div class="container-fluid" style=" align-items: center">
  <div class="row justify-content-md-center">
    <% @teachers.each do |teacher| %>
      <div class="col col-3 card gap-3" style= "box-shadow: 0 0 10px #000000">
      <%= cl_image_tag teacher.photo.key , height: 150, width: 200, crop: :fill %>
        <p><%= link_to teacher.name, teacher_path(teacher)%></p>
        <p><%= teacher.price%> EUR</p>
        <p><%= '⭐️' * teacher.rating.to_i %></p>
    </div>
  <% end %>
  </div>
</div>
<p class="text-end" ><%= link_to "See all teachers", teachers_path%></p>

<div class="footer" style="height: 56px; background-color: #F4F4F4;">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
<div class="btn-home-page">
<p class="btn btn-yellow" ><%= link_to "See all teachers", teachers_path%></p>
</div>
