<div class="container-fluid">
  <div class="row justify-content-md-center gap-3">
      <div class="col col-6 card">
        <%= simple_form_for [@teacher] do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
