
<% content_for( :navbar_class, "") %>


<div class="show-body">
    <div class="more-info">
    <h1>Just a few mores steps...<strong><%= @teacher.name%></h1></strong>
    </div>
      <div class="show">
  <%= simple_form_for [@teacher] do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :photo, as: :file %>
          <div class="buttons">
          <p class="btn btn-blue"><%= f.submit %></p>
          </div>
        <% end %>
        </div>
      </div>
